html, body {
	height:100%;
	position:relative;
}	
#container, #container-blocker {
	position:absolute;
	width:100%;
	height:100%;
}
.titles {
	position: absolute;
	top:0;
	left:0;
	margin:2%;
}
.titles h1, .titles h2 {
	margin:0;
	font-size: 3.05em;
	color: #4A9DE7;
	text-transform: uppercase;
	margin: 0;
	line-height: 1;
	font-weight: 100;
}
.titles h1 {
	color: #486eff;
}
.titles h2 {
	color: #c534ff;	
	font-size:1.6em;
	letter-spacing:0.2em;
}
@media (max-width:500px) {
	.titles {
		font-size:0.9em;
	}
}