<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1' />
	
	<title>{{title}}</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/common/css/listing.css" type="text/css" media="screen" title="no title" charset="utf-8">
  
</head>
<body>
  <div class='listing'>
  	<h1>{{title}}</h1>
		<p>{{text}}</p>
  </div>
</body>
</html>